<article class="box post post-excerpt">
    <header>
        <h2><a href="#">Добро пожаловать</a></h2>
    </header>

    <a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
    <p>
        Описание сайта
    </p>
</article>